:root {
  color-scheme: light dark;
  font-family: 'Inter Variable', sans-serif;
  font-weight: 500;
  color: #ffffff;
  background-color: #000000;
}

body {
  margin: 0;
  padding: 25px;
}

p {
  margin: 0;
}

a {
  color: #ffffff;
}
